{% extends "words/base.html" %}
{% load static %}

{% block head %}
    <script src="{% static "words/words.js" %}"></script>
    <link rel="stylesheet" href="{% static "words/words.css" %}">
{% endblock %}

{% block body %}
    <div class="back">
        <a href="/word/{{ word.id }}/"><i class="fa fa-arrow-left"></i> <span>Back to word</span></a>
    </div>
    <div class="words container">
        <div class="page-header">
            <h1>Edit word</h1>
        </div>
        <div class="row">
            <div class="words__recent">

            </div>
        </div>
        <div class="row">
            <div class="word__editwrapper">
                <form action="/word/{{ word.id }}/edit/" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="word">Word</label>
                        {{ form.word.errors }}
                        <input type="text" class="form-control" name="word" value="{{ word.word }}">
                    </div>
                    <div class="form-group">
                        <label for="prefix">Prefix</label>
                        {{ form.prefix.errors }}
                        <input type="text" class="form-control" name="prefix" value="{{ word.prefix }}">
                    </div>
                    <div class="form-group">
                        <label for="stem">Stem</label>
                        {{ form.stem.errors }}
                        <input type="text" class="form-control" name="stem" value="{{ word.stem }}">
                    </div>
                    <div class="form-group">
                        <label for="tone">Tone</label>
                        {{ form.tone.errors }}
                        <input type="text" class="form-control" name="tone" value="{{ word.tone }}">
                    </div>
                    <div class="form-group">
                        <label for="POS">POS</label>
                        {{ form.POS.errors }}
                        <input type="text" class="form-control" name="POS" value="{{ word.POS }}">
                    </div>
                    <div class="form-group">
                        <label for="gloss">English Gloss</label>
                        {{ form.gloss.errors }}
                        <input type="text" class="form-control" name="gloss" value="{{ word.gloss }}">
                    </div>
                    <div class="form-group">
                        <label for="word_class">Class</label>
                        {{ form.word_class.errors }}
                        <input type="text" class="form-control" name="word_class" value="{{ word.word_class }}">
                    </div>
                    <div class="form-group">
                        <label for="no">No.</label>
                        {{ form.no.errors }}
                        <input type="text" class="form-control" name="no" value="{{ word.no }}">
                    </div>
                    <div class="form-group">
                        <label for="note">Note</label>
                        {{ form.note.errors }}
                        <textarea class="form-control" id="note" name="note" value="{{ word.note }}"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="dialect">Dialect</label>
                        {{ form.dialect.errors }}
                        <input type="text" class="form-control" name="dialect" value="{{ word.dialect }}">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
